export(rmpw)
export(sensitivity)
export(sensitivity.plot)
importFrom(MASS,polr)
importFrom(graphics,abline)
importFrom(graphics,contour)
importFrom(graphics,plot)
importFrom(gtools,combinations)
importFrom(stats,as.formula)
importFrom(stats,binomial)
importFrom(stats,coef)
importFrom(stats,cor)
importFrom(stats,fitted)
importFrom(stats,glm)
importFrom(stats,lm)
importFrom(stats,model.matrix)
importFrom(stats,pnorm)
importFrom(stats,predict)
importFrom(stats,sd)
